.App{
  height: 100vh;
}

.dashboardContainer{
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding:10px;
  height:100vh;
}

.sidebar{
  display: flex;
  flex-direction: row;
  padding:5px;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar ul{
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sidebarBtns{
  align-items: center;
  display:flex;
  flex-direction: row;
}